.nav{
  background-color: rgb(172, 196, 240);
  overflow: hidden;
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 18px;
}
.mainHeading{
  display:flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap; 
  color: rgb(64, 9, 128);
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  position: relative;
  top: 18px;
  left: 400px;
  float: left;
  width: 200px;
  height: 100px;
  }
.bTn {
  background-color:rgb(150, 193, 218);
  border: none;
  color: rgb(87, 118, 202);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border: 2px solid;
  border-color: black;
  border-radius: 12px;
}
  /* }
  nav:hover {
    background-color: #ddd;
    color: black;
  }
nav.active {
    background-color: rgb(62, 82, 87);
    color: white; */
body{
    background-color: rgb(180, 228, 228);
    font-size: 18px;
    color: rgb(151, 42, 151);
    text-align: center;
    padding: 30px;
    /* background-image: url(Harvey.jpg); */
    background-size : 100px;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;{
    }



/* 
<ul>
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
</ul> */
.content1{
    text-align: left;
    color: black;
    font-size: 16px;
    column-count: 3
}
.content2{
    text-align: left;
    color: rosybrown;
    font-size: 18px;
}