.nav{
  background-color: rgb(172, 196, 240);
  overflow: hidden;
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 18px;
}
.mainHeading{
  display:flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap; 
  color: rgb(64, 9, 128);
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  position: relative;
  top: 18px;
  left: 400px;
  float: left;
  width: 200px;
  height: 100px;
  }
.bTn {
  background-color:rgb(212, 199, 226);
  color: rgb(87, 118, 202);
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border: 1px solid;
  border-color: rgb(83, 14, 80);
  border-radius: 42px;
} 
body{
    background-color: rgb(180, 228, 228);
    /* background-image: url("Spinning_Dancer.gif"); */
    font-size: 18px;
    color: rgb(151, 42, 151);
    text-align: center;
    /* padding: 30px; */
    /* background-size : 1500px 1500px; */
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
}
.content1{
    color: rgb(128, 19, 115);
    font-size: 18px;
    column-count: 1;
    margin-left: 100px;
    margin-right: 100px;
    list-style-type: none;
    text-align: justify;
    /* line-height: 105%; */
}
.content2{
    text-align: left;
    color: rgb(128,19,115);
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
}
.content3{
  text-align:center;
  color: rgb(128, 19, 115);
  font-size:18px;
}
